/* @media (min-width: 1719px) {
  .hero__line-wrapper {
    width: 90%;
  }
} */
@media (max-width: 1150px) {
   /* ===========backstage============= */
   .backstage__wrapper {
    display: block;
  }

  .backstage__subtitle {
    margin-bottom: 25px;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .wrapper {
    --bar-count: 4;
  }

  .bg ul li:nth-child(n + 5) {
    width: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;

  }

  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  .header__link {
    padding-left: 5px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .header__link:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b2b2b2
  }

  .header__item {
    display: block;
    color: #000000;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 2px;
  }


  .header__languale {
    color: rgb(0, 0, 0);
  }

  .header__languale span {
    background-color: #000000;
  }

  .hero__socials {
    top: 14vh;
    right: 30px;
}
/* ============hero========================== */
.hero__offer {
  position: unset;
}

.hero__sub-text {
  position: unset;
}

.hero__line-wrapper {
  position: unset;
}
  /* ============services==================== */
  .services__sub-title {
    flex: 0 1 35%;
  }

  .services__text {
    flex: 0 1 65%;
  }

  /* ============footer==================== */
  .footer__body {
    display: block;
  }

  .footer__title-991 {
    display: block;
    margin-bottom: 50px;
  }

  .footer__title {
    display: none;
  }

  .footer__column-form {
    margin-bottom: 50px;
  }

}

@media (max-width: 560px) {

  .footer__title {
    text-align: center;
    margin-bottom: 40px;
  }

  .footer__form {
    width: 100%;
  }

  .footer__form p {
    margin-bottom: 25px;
    text-align: end;
  }

  .footer__contacts {
    display: block;
  }

  .footer__column:nth-child(1) {
    margin-bottom: 40px;
  }


  .footer__info-bott {
    display: block;
    text-align: center;
  }

  .cop {
    margin-bottom: 5px;
  }
}


@media (max-width: 767px) {

  .services {
    padding: 100px 0;
  }

  .hero__socials {
    position: absolute;
    top: 5vh;
  }

  .services__info {
    padding-right: 0;
  }

  /* =======about==================== */
  .about__row {
    display: block;
  }

  .about__subtitle {
    margin-bottom: 15px;
  }

  /* =======quiz==================== */
  .quiz__body {
    display: block;
  }

  .quiz__title {
    margin-bottom: 15px;
  }

  .button-block {
    width: 100%;
    margin-top: 45px;
  }

  .button-block button {
    width: 40vw;
  }

  .thanks__wrapper {
    height: 30vh;
    width: 100%;
  }

  /* =======services==================== */
  .services__wrapper {
    display: block;
  }

  .services__info {
    margin-bottom: 15px;

  }

  .services__item {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #b2b2b2;
  }

  .services__sub-title {
    margin-bottom: 10px;
  }

  /* ===========send-form============= */

  .send-form {
    background: url(../image/2.jpg) center/cover no-repeat;
  }

  .send-form__img {
    display: none;
  }

  .send-form__card {
    flex: 0 1 100%;
  }

}


@media (max-width: 479px) {

  .about {
    height: unset;
  }

  .about__body {
    padding: 70px 0;
  }

  .hero__offer {
    font-size: 60px;
    margin-top: 80px;
  }

  .hero__sub-text {
    width: 100vw;
  }

  .question-set ul {
    display: block;
  }

  .question-set h3 {
    margin: 0 0 30px;
  }

  .quiz-send-data__form {
    width: 100%;
  }

  .gallery {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 399px) {
  .about__item-achiv {
    flex: 0 1 50%;
    margin-bottom: 25px;
    padding-right: 20px;
  }
}


@media (min-aspect-ratio: 4/2) and (max-width: 1400px),
(max-height: 610px) {
  .hero__offer {
    font-size: 50px;
    height: 99px;
    margin-bottom: calc(19vh - 44px);
    margin-top: calc(11vh - 45px);
  }

  .hero__sub-text {
    font-size: 18px;
    height: 50px;
    margin-bottom: calc(23vh - 50px);
  }

  .about {
    height: unset;
  }

  .about__body {
    padding: 70px 0;
  }
}