@media (min-width: 1219px) {
  .button-block button:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 13%, rgba(242, 4, 4, 1) 100%);

  }
}

@media (max-width: 991px) {
  .wrapper {
    --bar-count: 4;
  }

  .bg ul li:nth-child(n + 5) {
    width: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;

  }

  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  .header__link {
    padding-left: 5px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .header__link:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  .header__item {
    display: block;
    color: #000000;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 2px;
  }


  .header__languale {
    color: rgb(0, 0, 0);
  }

  .header__languale span {
    background-color: #000000;
  }

  /* ===========send-form==================================== */

  .send-form__img {
    display: none;
  }

}


@media (max-width: 767px) {
  .hero__offer {
    font-size: 50px;
    height: 55px;
    margin-bottom: calc(14vh - 36px);
  }

  .hero__sub-text {
    font-size: 20px;
    height: 20px;
    margin-bottom: calc(25vh - 20px);
    font-weight: 100;
    letter-spacing: 1px;
  }

  .hero__socials {
    position: absolute;
    top: 7vh;
    right: 0;
  }

  /* ===========send-form==================================== */

  .send-form {
    position: relative;
    background: url(./image/1667872658_17-colodu-club-p-stena-chernii-kirpich-pinterest-18.jpeg) no-repeat;
  }
}


@media (max-width: 479px) {
  
}